
<ion-view view-title="Welcome to Cooking Assistant">
  <ion-content class="padding" style="background-image: url(../img/blur.jpg)">
        <button class="button button-full button-positive" ng-click="record()">
          Tap here and say Hello
        </button>
        <div class="container">
          <div ng-repeat="item in recognizedText" class="card">
          <div class="item item-text-wrap">{{item.origin}} : {{item.text}}</div>
          </div>
        </div>
        <script id = "my-modal.html" type = "text/ng-template">
           <ion-modal-view>
              <ion-header-bar>
                 <h1 class = "title">Listening</h1>
              </ion-header-bar>
              <ion-content>
                 Speak up
              </ion-content>
           </ion-modal-view>
        </script>
  </ion-content>
</ion-view>
